.header {
  background-color: gray;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.header_container {
  margin-right: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-self: center;
}

.logo {
  justify-self: center;
}